DEFAULT vesamenu.c32
TIMEOUT 50
ONTIMEOUT focal-live-install-autoinstall
PROMPT 0

NOESCAPE 1

LABEL focal-live-install
        MENU DEFAULT
        MENU label Install focal
        KERNEL vmlinuz
        INITRD initrd
        APPEND root=/dev/ram0 ramdisk_size=1500000 ip=dhcp url=http://{{ inventory_hostname }}/ubuntu-20.04.3-live-server-amd64.iso

LABEL focal-live-install-autoinstall
        MENU DEFAULT
        MENU label Install focal - autoinstall
        KERNEL vmlinuz
        INITRD initrd
        APPEND root=/dev/ram0 ramdisk_size=1500000 ip=dhcp url=http://{{ inventory_hostname }}/ubuntu-20.04.3-live-server-amd64.iso autoinstall ds=nocloud-net;s=http://{{ inventory_hostname }}/cloud-init/ cloud-config-url=/dev/null
